.vercel
.DS_Store
node_modules/   
dist/
build/
.env
.env.local
.env.development
.env.test
.env.production
*.log
*.cache

# Ignore IDE/editor specific files
.vscode/
.idea/
# Ignore OS-specific files
Thumbs.db